*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

body a{
  color: white;
  text-decoration:none;
}

/*Navegacion*/

#header {
  width: auto; 
  background-color: #92000A; 
  height: 90px; 
  display: flex; 
  justify-content: space-between; 
  padding-bottom: 10px;
}

#img_logo{
  margin-left: 25px;
}

#logo{
  margin-left: 10px;
}


#nav_re { 
  width: 380px;
}

#nav_ul { 
  display: flex; list-style: none; 
}

.li_nav { 
  margin: 30px 15px 15px; 
  margin-right: 25px;
  transition: all 0.2s ease 0s; 
}


.a_nav {
  width: 50px;
  padding: 10px;
  font-size: 22px; 
  font-family: 'Poppins', sans-serif;
  text-decoration: none; 
  transition: all 0.2s ease 0s; 
  border-radius: 5px;
}

.a_nav:link { 
  color: #fff; 
}

.a_nav:visited { 
  color: #fff; 
}

.a_nav:hover { 
  color: #fff; 
  background-color: #0d29a5;
}

/*Navegacion fin*/

#titulo{
  font-size: 21px;
  font-family: 'DM Sans', sans-serif; 
  padding-top: 24px ;
  width: 300px;
  text-align: center;
  color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container-form{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form h2{
  margin-bottom: 15px;
  font-size: 35px
}
.container-form p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a{
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.container-form a i{
  color: #0d29a5;
  margin-right: 10px;
}
.container-form form .campo, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea{
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.container-form .btn-enviar{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #0d29a5;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
  background: #00b1f7;
}

/*:::::Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
  margin-top: 100px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 150px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
footer.pie-pagina {
  margin-top: 20px;
}    
}
/*pqrs fin*/